BOT_TOKEN=
KORA_PRIVATE_KEY=
NODE_PUBLIC_SUPABASE_URL=
NODE_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NODE_ENV=
PORT=
SOLANA_DEVNET_RPC=
OPENROUTER_API_KEY=
KORA_RPC_URL=
SPONSOR_PRIVATE_KEY=
SOLANA_MAINNET_RPC=
